*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

body{
    height: 100%;
    width: 100%;
}

img{
    width: 100%;
}

iframe{
    background-image: url(../assets/img/image\ \(10\).png)
}

/* Header */

header{
    font-family: 'Nerko One', cursive;
    width: 100%;
    color: #f8971e;
}

/* End Header */

/* Main */

.sweets{
    color: #f6f5f3;
}


.container{
    padding: 1rem;
    background-color: #f6f5f3;
    width: 100%;
}

.tutorial {
    img {
    margin: 1rem 0;
    }
}


ul, li{
    list-style: none;
}

/* End Main */

/* Footer */

footer{
    width: 100%;
    background-color: #7c69a4;
    color: white;
    padding: 2rem 0;
    ul{
        gap: 1rem;
    }
    a{
        color: white;
        flex-wrap: wrap;
    }
}

/* End Footer */


/* Media Query */

@media  screen and (max-width: 480px){
    h1{
        text-align: center;
        margin: 1rem 0;
    }

    .social span{
        display: none;
    }
    .footer-list{
        display: flex;
        justify-content: center;
    }
    #banner{
        display: none;
    }
}



    

