*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-family: 'Nerko One', cursive;
}

@media  screen and (max-width: 480px){
    h1{
        text-align: center;
    }

}
    

