/* Common */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

h3{
    padding: 1rem 0 0 ;
}


img{
    width: 100%;
}

ul, li{
    list-style: none;
}

#tiramisu{
    width: 300px;
}

/* End Common */

/* Header */

header{
    font-family: 'Nerko One', cursive;
    width: 100%;
    color: #f8971e;
}

/* End Header */

/* Main */

.sweets{
    color: #b1a6ad;
    padding-left: 1rem;
}

.title{
    color: #4e3969;
    font-weight: bold;
    padding-left: 1rem;
    padding-bottom: 1rem;
}


.container{
    padding: 1rem;
    background-color: #f6f5f3;
    width: 100%;
    ul{
        padding: 1rem 0;
        li{
            padding: 0.5rem 0;
        }
    }

    span{
        font-weight: bold;
    }
}

iframe{
    width: 100%;
}

.vid-tutorial {
    padding-top: 1rem 1.5rem;
}

.passages{
    background-color: white;
}

.social{
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    button{
        border-radius: 50px;
        border-color: white;
        padding: 0.5rem;
        span{
            font-family: Montserrat, 'Helvetica Neue', sans-serif;
        }
    }
}

.presentation{
    padding: 1rem;
    h2{
        padding-bottom: 1rem;
    }
    p{
        line-height: 2rem;
    }
}

/* End Main */

/* Footer */

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #7c69a4;
    color: white;
    padding: 2rem;
    ul{
        gap: 1rem;
    }
    a{
        color: white;
    }
    .footer-list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 1rem;
    }
    strong{
        padding-bottom: 1rem;
    }
}

/* End Footer */


/* Media Query */

@media  screen and (max-width: 480px){
    h1{
        text-align: center;
        margin: 1rem 0;
    }

    .title{
        span{
            display: none;
        }
    }

    .social span{
        display: none;
    }
    #banner{
        display: none;
    }
    #tiramisu{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px){
    h1{
        padding-left: 2rem;
    }

    span{
        display: inline;
    }

    .passages{
        padding-left: 1rem;
        ul{
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
    }
} 
    

    .social{
        button{
            width: 100%;
        }
        span{
            display: none;
        }
    }
    #tiramisu{
        float: left;
        padding-right: 1rem;
    } 
}

@media  screen and (min-width: 992px) {
    h1{
        font-size: 40px;
    }

    span{
        display: inline;
    }

    .tutorial{
        display: flex;
        iframe{
            width: 500px;
        }
        .passages{
            width: 100%;
            flex-direction: column;
            padding-left: 4rem;
        }
    }
    .social{
        span{
            display: inline;
            padding-left: 0.5rem;
        }
    }
    #tiramisu{
        float: left;
        padding-right: 1rem;
        width: 50%;
    } 

    footer{
        flex-direction: row;
        
    }

}    

